<!DOCTYPE html>
<html lang="en">
<!-- Phần head -->
<%- include('partials/head') %>

    <body data-bs-spy="scroll" data-bs-target="#leftSection" data-bs-offset="0" tabindex="0">
        <!-- Phần header -->
        <%- include('partials/header') %>

        <section class="mymaincontent py-5">
            <div class="container-fluid rounded" style="position: relative; ">
                <div class="row">
                    <!-- Left Section (sticky within container) -->
                    <nav id="leftSection" class="col-md-2 bg-white rounded ms-5 "
                        style="position: sticky; top: 0; height: auto; overflow-y: auto; height: 101%;">
                        <div class="row">
                            <div class="col-md-12">
                                <h5 class="text-dark fs-4 pt-3"><i class="fa-solid fa-filter"></i>Quản lý sản phẩm
                                </h5>
                            </div>
                        </div>
                        <div class="row bg-white rounded my-3">
                            <div class="list-group " >
                                <a href="#" class="list-group-item list-group-item-action" >QL Sản phẩm</a>
                                <a href="#" class="list-group-item list-group-item-action">QL phân loại hàng</a>
                                <a href="#" class="list-group-item list-group-item-action">QL Khác</a>
                                <a href="#" class="list-group-item list-group-item-action logoutButton" >Đăng xuất</a>
                            </div>
                        <hr>
                        
                        
                    </nav>

                    <!-- Right Section (scrollable content) -->
                    <div class="col-md-9 bg-white rounded" id="left-pane"
                    style="margin-left: 15px; height: auto; overflow-y: auto;">
                    <!---Container card-->
                    <div class="container py-5 container-category">
                        <%  products = JSON.parse(products); %>
                        <%  brands= JSON.parse(brands); %>
                        <%  categories= JSON.parse(categories); %>
                        <%  attributes= JSON.parse(attributes); %>
                        <div class="row row-cols-1 row-cols-md-3 g-4" id="product-container">
                            <table class="table table-bordered table-hover ">
                                <thead>
                                  <tr>
                                    <th scope=>STT</th>
                                    <th>Tên sản phẩm</th>
                                    <th>Brand</th>
                                    <th>Danh mục</th>
                                    <th>Loại</th>
                                    <th>Giá gốc</th>
                                    <th>% Giảm</th>
                                    <th>Giá hiện tại</th>
                                    <th>In stock</th>
                                    <th>Mô tả</th>
                                    <th></th>
                                  </tr>
                                </thead>
                                <tbody>
                                    <% products.forEach(function(product, index){ %> 
                                        <tr>
                                            <td><%= index + 1 %></td>
                                            <td contenteditable="true" ><%= product.product_name %></td>
                                            <td>
                                                <select class="form-select" id="choose_brand">
                                                  <option value="">Choose Brand</option>
                                                  <% brands.forEach(function(brand) { %>
                                                    <option value="<%= brand.brand_id %>" 
                                                      <% if (brand.brand_id === product.brand_id) { %> 
                                                        selected 
                                                      <% } %>>
                                                      <%= brand.brand_name %>
                                                    </option>
                                                  <% }) %>
                                                </select>
                                              </td>
                                              
                                            <td ><select class="form-select" id="choose_category">
                                                <option value="">Choose Category</option>
                                                <% categories.forEach(function(category) { %>
                                                    <option value="<%= category.category_id %>" 
                                                      <% if (category.category_id === product.category_id) { %> 
                                                        selected 
                                                      <% } %>>
                                                      <%= category.category_name %>
                                                    </option>
                                                  <% }) %>
                                            </select></td>
                                            <% var attr_group = "" %>
                                            <% product.attributes.forEach(function(attribute,index){%>
                                                  <% attr_group+= " "+ attribute.attr_name %>
                                                <%}) %>
                                            <td ><%= attr_group %></td>
                                            <td contenteditable="true"><%= product.origin_price || 'Chưa set giá' %></td>
                                            <td contenteditable="true"><%= product.discount_percent%></td>
                                            <td>
                                                <% if (product.origin_price === null) { %>
                                                  <%= "Chưa set giá" %>
                                                <% } else { %>
                                                  <%= product.origin_price*(1-(product.discount_percent/100))%>
                                                <% } %>
                                              </td>                                              
                                            <td contenteditable="true"><%= product.quantity %></td>
                                            <td contenteditable="true"><%= brands[0].brand_name %></td>
                                            <td>
                                                <div class="row">
                                                    <div class="col-6 text-danger fw-semibold" >Sửa</div>
                                                    <div class="col-6 text-warning fw-semibold">Xóa</div>
                                                </div>
                                            </td>
                                          </tr>
                                        <%}) %>
                                        <tr>
                                            <td>--</td>
                                            <td contenteditable="true" >...</td>
                                            <td>
                                                <select class="form-select" id="choose_brand">
                                                  <option value="">Choose Brand</option>
                                                  <% brands.forEach(function(brand) { %>
                                                    <option value="<%= brand.brand_id %>" >
                                                      <%= brand.brand_name %>
                                                    </option>
                                                  <% }) %>
                                                </select>
                                              </td>
                                              
                                            <td ><select class="form-select" id="choose_category">
                                                <option value="">Choose Category</option>
                                                <% categories.forEach(function(category) { %>
                                                    <option value="<%= category.category_id %>" >
                                                      <%= category.category_name %>
                                                    </option>
                                                  <% }) %>
                                            </select></td>
                                            <!--Loại chưa xem xét-->
                                            <td >
                                                Unable
                                            </td>
                                            <td contenteditable="true">...</td>
                                            <td contenteditable="true">...</td>
                                            <td>
                                                /
                                              </td>                                              
                                            <td contenteditable="true">...</td>
                                            <td contenteditable="true">...</td>
                                            <td>
                                                <div class="row">
                                                    <div class="col"><button type="button" class="btn btn-info" id="add_oneProduct">+</button> </div>
                                                    
                                                    
                                                </div>
                                            </td>
                                          </tr>
                                  <!-- More rows as needed -->
                                  
                                </tbody>
                              </table>
                              
                        </div>
                        
                        
                    </div>
                </div>
                 
                </div>
            </div>
        </section>


            <!-- Phần footer -->
            <%- include('partials/footer') %>
            <%- include('partials/toastLogin') %>

            <%- include('partials/signform') %>
                    <script src="js/bootstrap.bundle.min.js"></script>
                    <script src="/custom/slider_range.js"></script>
                    <script src="/services/customInfoServices.js"></script>


    </body>

</html>