<!DOCTYPE html>
<html lang="en">
<!-- Phần head -->
<%- include('partials/head') %>

    <body data-bs-spy="scroll" data-bs-target="#leftSection" data-bs-offset="0" tabindex="0">
        <!-- Phần header -->
        <%- include('partials/header') %>

            <section class="mymaincontent py-5">
                <div class="container rounded" style="position: relative; ">
                    <div class="row">
                        <!-- Left Section (sticky within container) -->
                        <nav id="leftSection" class="col-md-3 bg-white rounded "
                            style="position: sticky; top: 0; height: auto; overflow-y: auto; height: 101%;">
                            <div class="row">
                                <div class="col-md-12">
                                    <h5 class="text-dark fs-4 pt-3"><i class="fa-solid fa-filter"></i> Bộ lọc tìm kiếm
                                    </h5>
                                </div>
                            </div>
                            <hr>
                            <div class="row px-3 ">
                                <div class="form-check ">
                                    <p class="fw-bolder" style="margin-bottom: -0.1rem;">Mức giá</p>
                                    <input class="form-check-input" type="checkbox" value="" id="checkedall" checked>
                                    <label class="form-check-label" for="checkedall">
                                        Tất cả
                                    </label>
                                    <br>
                                    <input class="form-check-input" type="checkbox" value="" id="under2m">
                                    <label class="form-check-label" for="under2m">
                                        Dưới 2 triệu
                                    </label>
                                    <br>
                                    <input class="form-check-input" type="checkbox" value="" id="from2to4">
                                    <label class="form-check-label" for="from2to4">
                                        Từ 2 - 4 triệu
                                    </label>
                                    <br>
                                    <input class="form-check-input" type="checkbox" value="" id="from4to7">
                                    <label class="form-check-label" for="from4to7">
                                        Từ 4 - 7 triệu
                                    </label>
                                    <br>
                                    <input class="form-check-input" type="checkbox" value="" id="from7to13">
                                    <label class="form-check-label" for="from7to13">
                                        Từ 7 - 13 triệu
                                    </label>
                                    <br>
                                    <input class="form-check-input" type="checkbox" value="" id="from13to20">
                                    <label class="form-check-label" for="from13to20">
                                        Từ 13 - 20 triệu
                                    </label>
                                    <br>
                                    <input class="form-check-input" type="checkbox" value="" id="above20">
                                    <label class="form-check-label" for="from4to7">
                                        Trên 20 triệu
                                    </label>
                                    <br>

                                    <label for="priceRange" class="form-label">Hoặc nhập khoảng giá phù hợp:</label>
                                    <div class="row slider_container">

                                        <div class="col-md-12 d-flex align-items-center">
                                            <div class="min-value numberVal">
                                                <input id="inputMin" class="form-control me-2" type="number" min="0"
                                                    max="60000000" value="390000" style="flex: 1;">
                                            </div>

                                            <span class="mx-2">~</span>
                                            <div class="max-value numberVal">
                                                <input id="inputMax" class="form-control me-2" type="number" min="0"
                                                    max="60000000" value="10000000" style="flex: 1;">
                                            </div>


                                        </div>
                                        <p class="text-danger" id="waring-maxmin-text"
                                            style="font-size:smaller; display: none;">Giá trị không hợp lệ</p>
                                        <div class="range-slider " id="ranger">
                                            <div class="progress"></div>
                                            <input type="range" class="range-min" min="0" max="60000000" value="390000">
                                            <input type="range" class="range-max" min="0" max="60000000"
                                                value="10000000">
                                        </div>
                                    </div>

                                    <hr> <!---Tách component-->
                                    <p class="fw-bolder" style="margin-bottom: -0.1rem;">Màn hình</p>
                                    <input class="form-check-input" type="checkbox" value="" id="screenall" checked>
                                    <label class="form-check-label" for="screenall">
                                        Tất cả
                                    </label>
                                    <br>
                                    <input class="form-check-input" type="checkbox" value="" id="under5in">
                                    <label class="form-check-label" for="under5in">
                                        Dưới 5.0 inch
                                    </label>
                                    <br>
                                    <input class="form-check-input" type="checkbox" value="" id="above6in">
                                    <label class="form-check-label" for="above6in">
                                        Trên 6.0 inch
                                    </label>
                                    <hr>
                                    <p class="fw-bolder" style="margin-bottom: -0.1rem;">Hiệu năng pin</p>
                                    <input class="form-check-input" type="checkbox" value="" id="pinall" checked>
                                    <label class="form-check-label" for="pinall">
                                        Tất cả
                                    </label>
                                    <br>
                                    <input class="form-check-input" type="checkbox" value="" id="under3000mAh">
                                    <label class="form-check-label" for="under3000mAh">
                                        Dưới 3000 mAh
                                    </label>
                                    <br>
                                    <input class="form-check-input" type="checkbox" value="" id="from3000to4000mAh">
                                    <label class="form-check-label" for="from3000to4000mAh">
                                        Pin từ 3000 - 4000 mAh
                                    </label>
                                    <br>
                                    <input class="form-check-input" type="checkbox" value="" id="from4000to5000mAh">
                                    <label class="form-check-label" for="from4000to5000mAh">
                                        Pin từ 4000 - 5000 mAh
                                    </label>
                                    <br>
                                    <input class="form-check-input" type="checkbox" value="" id="above5000mAh">
                                    <label class="form-check-label" for="above5000mAh">
                                        Siêu trâu: trên 5000 mAh
                                    </label>
                                    <br> <br><br>

                                </div>
                            </div>
                        </nav>

                        <!-- Right Section (scrollable content) -->
                        <div class="col-md-8 bg-white rounded" id="left-pane" style="margin-left: 15px; height: auto; overflow-y: auto;">
                            <!---Container card-->
                            <div class="container py-5 container-category">
                                <div class="row row-cols-1 row-cols-md-3 g-4" id="product-container">
                                    <% products.forEach((product, index) => { %>
                                    <div class="col product-item" style="display: <%= index < 6 ? 'block' : 'none' %>;">
                                        <div class="card" style="height: 350px; overflow-y: auto;">
                                            <img src="<%= product.image_url %>" class="card-img-top" alt="Product Image" style="height: 200px; object-fit: cover;">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="row origin_price" style="font-size: smaller;">
                                                        <div class="col-9 text-decoration-line-through">
                                                            <%= product.originalPrice %> đ
                                                        </div>
                                                        <div class="col-3 text-danger fw-bolder" style="margin-left: -40%;">
                                                            -<%= product.discountPercent %>%
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row sale_price">
                                                    <div class="col fw-bolder"><%= product.salePrice %> đ</div>
                                                </div>
                                                <h5 class="card-title fs-6"><%= product.product_name %></h5>
                                                <p class="text-end"><i class="fa-solid fa-cart-plus"></i></p>
                                            </div>
                                        </div>
                                    </div>
                                    <% }) %>
                                </div>
                                <div class="text-center">
                                    <button id="see-more-btn" class="btn btn-primary mt-4">Xem thêm</button>
                                </div>
                            </div>
                        </div>
                     
                    </div>
                </div>
            </section>


            <!-- Phần footer -->
            <%- include('partials/footer') %>
            <%- include('partials/toastLogin') %>

            <%- include('partials/signform') %>
                    <script src="js/bootstrap.bundle.min.js"></script>
                    <script src="/custom/slider_range.js"></script>


    </body>

</html>